---
import BaseLayout from "../layouts/BaseLayout.astro";
import ScheduleSlot from "../components/ScheduleSlot.astro";
import fetchApi from "../lib/strapi.js";

const events = await fetchApi({
  endpoint: "events",
  wrappedByKey: "data",
  query: {
    populate: ["*", "speaker", "location"],
  },
});

// const speakers = await fetchApi({
//   endpoint: "speakers",
//   wrappedByKey: "data",
//   query: { populate: ["*"] },
// });

// const { event } = Astro.props;
---

<BaseLayout>
  <section class="schedule">
    <h2 class="heading-s">Schedule.</h2>
    {events.map((event) => (
      <ScheduleSlot event={event} />
    ))}
  </section>
</BaseLayout>
