---
import BaseLayout from "../layouts/BaseLayout.astro";
import ScheduleSlot from "../components/ScheduleSlot.astro";
import fetchApi from "../lib/strapi.js";

const events = await fetchApi({
  endpoint: "events",
  wrappedByKey: "data",
  query: { populate: ["*"] },
});
---

<BaseLayout>
  <section class="schedule">
    <h2>Schedule</h2>
    {events.map((event) => (
      <div key={event.id} class="schedule__slot">
        <ScheduleSlot event={event} />
      </div>
    ))}
  </section>
</BaseLayout>
