<style>

  /* .nav__list {
  list-style: none;
  display: flex;
  align-items: center;
} */
  .footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--s2);
    background-color: var(--c-bg2);
    color: var(--c-light);
  }

  .footer__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }

  .footer__nav-item {
    margin-bottom: var(--s_1); /* Space between footer items */
  }

  .footer__nav-item:last-child {
    margin-bottom: 0;
  }

  .footer__link {
    cursor: pointer;
    color: var(--c-light);
    font-size: var(--fs-s);
    font-weight: 400;
    display: block;
  }

.footer__logo{
  font-size: var(--fs-xl);
  text-decoration: none;
  color: #fbfbfb;
  line-height: 25px;
}

</style>

<footer class="footer">
  <ul class="footer__list">
      <li class="footer__nav-item"><a href="" class="footer__logo">Grape <br> Fest</a></li>
      <li class="footer__nav-item"><a href="" class="footer__link">About Us</a></li>
      <li class="footer__nav-item"><a href="" class="footer__link">Contact</a></li>
    </ul>
    <ul class="footer__list">
      <li class="footer__nav-item"><a href="" class="footer__link">Instagram</a></li>
      <li class="footer__nav-item"><a href="" class="footer__link">Facebook</a></li>
      <li class="footer__nav-item"><a href="" class="footer__link">Snapchat</a></li>
      <li class="footer__nav-item"><a href="" class="footer__link">Tiktok</a></li>
    </ul>
    <ul class="footer__list">
      <li class="footer__nav-item"><a href="" class="footer__link">Career</a></li>
      <li class="footer__nav-item"><a href="" class="footer__link">Volunteer</a></li>
      <li class="footer__nav-item"><a href="" class="footer__link">Privacy Policy</a></li>
      <li class="footer__nav-item"><a href="" class="footer__link">Terms of Service</a></li>
    </ul>
</footer>
