<style>
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--s_2) ;
  background-color: var(--c-bg2);
  color: var(--c-light);
}

.nav__list {
  list-style: none;
  display: flex;
    align-items: center;
}

.nav__link {
  text-decoration: none;
  color: var(--c-light);
  font-size: var(--fs-s);
  font-weight: 800;
  padding: var(--s_1);
  display: block;
}

.nav__item {
  margin-right: clamp(0.5rem, 15vw, 35rem); /* Minimum 20px, 2% of viewport width, Maximum 40px */
}

.nav__item:last-child {
  margin-right: 0;
}
</style>

<header class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a class="nav__link" href={import.meta.env.BASE_URL} >Home</a></li>
            <li class="nav__item"><a class="nav__link" href={`${import.meta.env.BASE_URL}/schedule`} >Schedule</a></li>
            <li class="nav__item"><a class="nav__link" href={`${import.meta.env.BASE_URL}/speakers`}>Speakers</a></li>
            <li class="nav__item"><a class="nav__link" href={`${import.meta.env.BASE_URL}/tickets`} >Buy Tickets</a></li>
        </ul>
    </nav>
</header>
